<h2 class="text-2xl">新規メッセージ入力</h2>

<%= form_with(model: @message, url: room_messages_path, class: 'my-8') do |form| %>
  <div>
    <%= form.label :content, "送信内容" %>
    <%= form.text_area :content, rows: 5, class: "border rounded p-2 w-full" %>
  </div>
  <div>
    <%= form.submit "送信する", class: "bg-blue-500 text-white font-bold py-2 px-4 rounded" %>
  </div>
<% end %>
