<h2 class="text-2xl">DM機能を使ってみよう！</h2>
<div class="mt-8">
  <%= link_to 'DMリスト一覧へ', rooms_path, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
</div>

<h2 class="text-2xl mt-24">ユーザー情報編集</h2>
<div class="mt-8">
  <%= link_to 'プロフィール編集', rooms_path, class: 'bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded' %>
</div>
