@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

@layer utilities {
  .error {
    color: red;
  }
  .success,
  .notice {
    color: green;
  }
}

.field_with_errors {
  @apply contents;
}

.field_with_errors input,
.field_with_errors select,
.field_with_errors textarea {
  border: 2px solid red;
  background-color: #ffe6e6;
}
